<!-- ------------------------------------------------------------------------------------------ -->
<!--PAGEVIDE.COMPONENT IS ONLY FOR TEST PURPOSES AND SHOULD NOT BE USED IN THE FINAL APPLICATION-->
<!-- ------------------------------------------------------------------------------------------ -->

<h1> Page vide est une page de test!</h1>
<div class="boutton">    <!-- TEST DE LOGGER -->
  <button (click)="onClick()" class="btn btn-primary btn-block">
    Get logger.service data
  </button>
</div>
<div class="boutton">   <!-- TEST DE LOGGER -->
  <button (click)="onClick2()" class="btn btn-primary btn-block">
    LOGOUT
  </button>
</div>
