<h2>Véhicules de Société</h2>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marque</th>
          <th scope="col">Model</th>
          <th scope="col">immat</th>
          <th scope="col">Avec Chauffeur</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Renault</td>
          <td>Clio</td>
          <td>AB 123 PR</td>
          <td>non</td>
          <td>15 sept 21</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>VW</td>
          <td>Golf</td>
          <td>AT 123 OL</td>
          <td>non</td>
          <td>12 sept 21</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mercedes</td>
          <td>Class A</td>
          <td>AF 123 UI</td>
          <td>oui</td>
          <td>15 oct 21</td>
        </tr>
      </tbody>
    </table>
