<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .login {
    position: absolute;
    top: 0;
    left: 200px;
    right: 2000px;
    height: 600px;
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Car Logo"
    src="https://i.dlpng.com/static/png/6325265_preview.png"
  />
  <span>AmazingTransportApp</span>
    <div class="spacer"></div>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
      <img alt="Qries" src="https://image.flaticon.com/icons/png/512/66/66788.png"
      width="40" height="40">
   </a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
      <img alt="Qries" src="https://image.flaticon.com/icons/png/512/66/66788.png"
      width="40" height="40">
   </a>
</div>

<div class="login">
  <div class="card card-container">

    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form  name="form">
      <div class="form-group">
        <label for="mail">E-mail</label>
        <input
          id="lemail"
          type="text"
          class="form-control"
          name="mail"
          formControlName = "password"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="lepass"
          type="password"
          class="form-control"
          name="password"
          required
          minlength="6"
        />

      </div>
      <div class="form-group">
        <button (click)="onClick()" class="btn btn-primary btn-block" >
          Login
        </button>
      </div>
      <div class="form-group">
      </div>
    </form>
    </div>
  </div>

