.profilepic {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}

.form-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}
