<h1>Mes réservations</h1>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Liste Covoiturages réservés
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Covoiturage</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Départ</th>
            <th scope="col">Arrivée</th>
            <th scope="col">Heure de départ</th>
            <th scope="col">Heure de d'arrivée</th>
            <th scope="col">Nombre de place</th>
            <th scope="col">Type de véhicule</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Nice</td>
            <td>Paris</td>
            <td>8h00</td>
            <td>16h00</td>
            <td>3</td>
            <td>Berline S</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jul</td>
            <td>Montpellier</td>
            <td>Nimes</td>
            <td>8h00</td>
            <td>8h45</td>
            <td>3</td>
            <td>Berline L</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Lola</td>
            <td>Toulouse</td>
            <td>Montpellier</td>
            <td>10h00</td>
            <td>12h40</td>
            <td>2</td>
            <td>Suv</td>
          </tr>
        </tbody>
      </table></div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Liste Réservations véhicule de fonction
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Marque</th>
              <th scope="col">Model</th>
              <th scope="col">immat</th>
              <th scope="col">Avec Chauffeur</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Renault</td>
              <td>Clio</td>
              <td>AB 123 ui</td>
              <td>non</td>
              <td>15 sept 21</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>VW</td>
              <td>Golf</td>
              <td>At 123 ui</td>
              <td>non</td>
              <td>12 sept 21</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Mercedes</td>
              <td>Class A</td>
              <td>Af 123 ui</td>
              <td>oui</td>
              <td>15 oct 21</td>
            </tr>
          </tbody>
        </table></div>
    </div>
  </div>

</div>

<div class="dashboard">

    <div *ngFor="let covoiturage of covoiturages">
        <a routerLink="/detail/{{covoiturage.id}}">
            {{covoiturage.organizer}}
        </a>
        <a>

        </a>
    </div>
</div>

